%btn-shared {
    display: inline-block;
    border: 2px solid $light-color;
    text-transform: uppercase;
    cursor: pointer;
}

.btn {

    &-transparent {
        @extend %btn-shared;

        &:hover {
            color: $main-color;
            border: 2px solid $main-color;
        }
    }

    &-dark {
        @extend %btn-shared;
        background: $dark-color;
        // color: aqua;
        &-round {
            border-radius: 10px;
        }
    }
    
    &-small  {padding: .4rem .6rem}
    &-medium {padding: .6rem .8rem}
    &-big    {padding: .8rem 1rem}
}

.main-hover:hover {
    color: $main-color;
}

.pd-10 {padding: 10px;}

.px-10 {padding: 10px;}
.px-20 {padding: 20px;}
.px-30 {padding: 30px;}
