%btn-shared {
    display: inline-block;
    border: 2px solid $light-color;
    padding: .8rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn {
    &-transparent {
        @extend %btn-shared;
    }
}